<section class="">
    <dialog open>
        <article>
            <header>
                <a href="/" aria-label="Close" class="close"></a>
                Error:
            </header>
            <p><%= data.message %></p>
        </article>
    </dialog>
</section>
